@charset "UTF-8";

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

	header.major h2 {
		font-size: 2em;
	}

	header.major p {
		font-size: 1.1em;
	}

	.oneP {
		font-size: 1.1em !important;
	}

	#oferta-desc {
		margin-top: -4em;
	}

/* Feature */

	.feature-grid .feature {
		display: block;
		width: 100%;
	}

		.feature-grid .feature .content {
			width: 65%;
		}

		.feature-grid .feature .image {
			margin-left: 0 !important;
			margin-right: 0 !important;
		}

/* Header */

	#skel-layers-wrapper {
		padding-top: 2em;
	}

	#header {
		display: none;
	}

/* Banner */

	#banner {
		padding: 9em 0 7em 0;
	}

/* Wrapper */

	.wrapper {
		padding: 4em 0 2em 0;
	}

	.wrapper.style3 header.major h2 {
		color: #ffffff;
		text-shadow: 2px 2px 3px #000000;
	}

/* One */

	#one {
		text-align: center;
	}

/* Footer */

	#footer {
		padding: 3em 0 2em 0;
	}

/* Layers */

	#titleBar {
			background: #222;
			height: 44px;
			line-height: 44px;
		}
	
			#titleBar .title {
				display: block;
				position: relative;
				font-weight: 700;
				font-size: 1.1em;
				text-align: center;
				line-height: 44px;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: #fff;
				z-index: 1;
			}
	
			#titleBar .title span {
				display: none;
			}
	
			#titleBar .toggle {
				height: 50px;
				right: 0;
				position: absolute;
				top: 0;
				width: 50px;
				z-index: 2;
			}
	
				#titleBar .toggle:before {
					content: "\f0c9";
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
				}
	
				#titleBar .toggle:before {
					background: none;
					color: white;
					display: block;
					height: 44px;
					line-height: 44px;
					text-align: center;
					width: 44px;
					font-size: 1.2em;
				}
	
				#titleBar .toggle:after {
					content: '';
					display: block;
					height: 13px;
					left: 10px;
					opacity: 0.75;
					position: absolute;
					top: 15px;
					width: 20px;
				}
	
	#navPanel {
		background: #222;
		color: #fff;
	}

		#navPanel nav {
			padding: 0.5em 1.25em;
			text-transform: uppercase;
		}

			#navPanel nav ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

				#navPanel nav ul li {
					padding: 0;
				}

					#navPanel nav ul li:first-child a:not(.button), #navPanel nav ul li:first-child span:not(.button) {
						border-top: 0;
					}

					#navPanel nav ul li a:not(.button), #navPanel nav ul li span:not(.button) {
						border-top: solid 1px #555;
						color: #fff;
						display: block;
						padding: 0.75em 0;
						text-decoration: none;
					}

			#navPanel nav .button {
				width: 100%;
			}
/* Made from a template by TEMPLATED; templated.co @templatedco;
   Released for free under the Creative Commons Attribution 3.0 license (templated.co/license) */